@typeparam TItem

@if (Settings == null)
{
    <span>Loading</span>
}
else
{
    <RadzenDataGrid
        @ref="@GridObj"
        Data="@DataSource"
        TItem="TItem"
        AllowFiltering="@Settings.AllowFiltering"
        FilterPopupRenderMode="PopupRenderMode.OnDemand"
        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        AllowPaging="@Settings.AllowPaging"
        PageSize="@Settings.PageSize"
        AllowSorting="true"
        ColumnWidth="200px"
        SelectionMode="DataGridSelectionMode.Single">
        <Columns>
            @foreach (var column in Settings.Columns.OrderBy(m => m.DisplayOrder).ToList())
            {
                <RadzenDataGridColumn TItem="TItem" Property="@column.Field" Title="@column.HeaderText"/>
            }
        </Columns>
    </RadzenDataGrid>
}
