@using amiliur.shared.Reflection
@if (!IsDataLoaded)
{
    <Loading></Loading>
}
else
{
    <EditForm EditContext="EditContext" autocomplete="off">
        <FigFieldDataValidator FormFields="@Fields.ToList()"/>

        @foreach (var field in Fields.Where(m => !m.IsVisible()))
        {
            <div class="d-none">
                <div style="display:none" data-displayname="@field.DisplayName" data-hidden="@field.IsHidden"></div>

                <DynamicComponent
                    Type="@GetDynamicComponentType(field)"
                    Parameters="FieldToParameters(field)">
                </DynamicComponent>
            </div>
        }

        @foreach (var row in FormDefinition.Rows)
        {
            <div class="row">
                @foreach (var cell in row.Cells.Where(m => m.Visible))
                {
                    <div class="mb-3 @(ColFromCell(cell))">
                        @foreach (var field in cell.Fields.Where(m => m.IsVisible()))
                        {
                            <div style="display:none" data-displayname="@field.DisplayName" data-hidden="@field.IsHidden"></div>

                            <FigLabel
                                For="@(() => Input.GetProperty(field.FieldName))"
                                ForField="field"
                                ForForm="FormDefinition">
                            </FigLabel>

                            <DynamicComponent
                                Type="@GetDynamicComponentType(field)"
                                Parameters="FieldToParameters(field)">
                            </DynamicComponent>

                            <FigValidationMessage Field="field" Model="Input"></FigValidationMessage>
                        }
                    </div>
                }
            </div>
        }
        <ErrorMessage Message="@ErrorMessage"></ErrorMessage>
    </EditForm>
}